.loader {
	background-color: #999;
	max-width: 300px;
	height: 24px;
	border:1px solid black;
	border-radius:12px;
	margin:4px;

	.progress {
		background-color:green;
		margin: 2px;
		height:24px;
		width: 0;
		max-width: 300px;
		border:1px solid black;
		border-radius:12px;
	}
	&.finished .progress {
		background-color: green;
	}
}